@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding: 12px 0 12px 0;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    /* отключаем внешние отступы  */
    padding: 0;
    /* отключаем внутренние отступы  */
    list-style: none;
    /* отключаем точки у списка */
    text-align: center;
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    text-decoration: none;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    display: block;
    margin-bottom: 4px;
}

.navbar-phone {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    text-decoration: none;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}

.home-svg path {
    opacity: 0;
}

.home-svg path:hover {
    opacity: 1;
    cursor: pointer;
}

path.current-floor {
    opacity: 1;
}

.main-floor {
    flex-grow: 1;
    /* margin: auto; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.main-title {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;

    color: #635854;
}

.counter-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.counter-button {
    /* background: #3596F5; */
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.counter {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 124px;
    text-align: center;
    text-transform: uppercase;

    color: #635854;
}

.counter-arrow-down {
    transform: rotateX(180deg);
}

.view-apartments {
    background: #3596F5;
    border-radius: 6px;

    /* Смотреть квартиры на этаже */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;

    border: none;
    padding: 16px 36px;
    cursor: pointer;
}

/* .view-apartments:hover {
    cursor: pointer;
} */